language: python
python:
  - "2.7"

env:
  matrix:
    - CHECK=py.test
    - CHECK=docs
    - CHECK=pylint
    - CHECK=format


# command to install dependencies
install: 
  - "pip install --upgrade setuptools"
  - "pip install --upgrade pip"
  - "pip install -r requirements.txt"
# command to run tests
script:
  - export PYTHONPATH=${PWD%/*}
  - ls $PYTHONPATH
  - echo $PWD
  - if [[ "${CHECK}" == "py.test"  ]];
    then py.test;
    elif [[ "${CHECK}" == "docs"  ]];
    then cd docs; READTHEDOCS=True make html;
    elif [[ "${CHECK}" == "pylint"  ]];
    then travis_wait 30 .travis.d/runPylint.sh;
    elif [[ "${CHECK}" == "format" ]] && [[ "${TRAVIS_PULL_REQUEST_BRANCH}" != "" ]];
    then echo ${TRAVIS_PULL_REQUEST_BRANCH}; git diff -U0 ${TRAVIS_PULL_REQUEST_BRANCH} | pycodestyle --diff;
    elif [[ "${CHECK}" == "format" ]];
    then git remote -vv; git branch -vv; git remote add diracGithub
    https://github.com/DIRACGrid/DIRAC.git; git remote -vv; git fetch
    diracGithub; git diff -U0 diracGithub/integration | pycodestyle --diff;
    fi

## ignore errors for sourcefiles "-i"
after_success:
  - if [[ "${CHECK}" == "py.test"  ]];
    then coveralls -i;
    fi
